* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ===========================common============================ */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
/* ===========================header============================ */

header {
  background: var(--header-bg);
  min-height: 100vh;
}

.header-top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.header__action--signup,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
  top: -3px;
}
.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
