* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ===========================common============================ */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
  color: #fff;
}
.btn:hover {
  opacity: 0.9;
}
/* ===========================header============================ */

header {
  background: var(--header-bg);
  min-height: 100vh;
}

.header-top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.header__action--signup,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
  top: -3px;
}
.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
/* ===========================hero============================ */

.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  max-width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.114;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero__img {
  object-fit: cover;
  border-radius: 6px;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
